name: "CPP Unit Tests"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
concurrency:
  group: build-unit-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  codespell-check:
    name: "Check codespell conformance"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: "Run codespell"
        uses: codespell-project/actions-codespell@v2
  format-check:
    name: "Check ${{ matrix.path }} clang-format conformance"
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        path:
          - "src"
          - "include"
          - "tests"
          - "bindings"
          - "capiocl.hpp"
    steps:
      - uses: actions/checkout@v4
      - name: "Run clang-format style check"
        uses: jidicula/clang-format-action@v4.11.0
        with:
          clang-format-version: "16"
          check-path: "${{ matrix.path }}"

  unit-tests:
    name: "Build ${{ matrix.build_type }} with ${{ matrix.cxx }}"
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        build_type: [ Debug, Release ]
        cxx:
          - gcc:9
          - gcc:10
          - gcc:11
          - gcc:12
          - gcc:13
          - silkeh/clang:13
          - silkeh/clang:14
          - silkeh/clang:15
          - silkeh/clang:16
          - silkeh/clang:17
          - silkeh/clang:18

    container:
      image: ${{ matrix.cxx }}

    steps:
      - uses: actions/checkout@v4

      - name: Install build tools
        run: |
          apt-get update
          apt-get install -y  \
            cmake             \
            ninja-build       \
            make              \
            sudo              \
            python3           \
            python3-pip       \
            python3-venv      \
            git

      - name: "Run CMake"
        env:
          CXX: ${{ startsWith(matrix.cxx, 'gcc') && 'g++' || 'clang++' }}
        run: |
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
                -DENABLE_COVERAGE=${{ matrix.build_type == 'Debug' && 'ON' || 'OFF' }} \
                -DBUILD_PYTHON_BINDINGS=OFF \
                -DCAPIO_CL_BUILD_TESTS=ON \
                -G Ninja \
                -B ../build \
                .
          cmake --build ../build -j $(nproc)
          sudo cmake --install ../build --prefix /usr/local

      - name: Run unit tests\
        run: |
          CAPIO_CL_tests \
            --gtest_break_on_failure \
            --gtest_print_time=1

      - name: Generate coverage report
        if: ${{ matrix.build_type == 'Debug' }}
        run: |
          python3 -m venv .venv
          . .venv/bin/activate
          pip install --upgrade "gcovr==6.0" 
          gcovr                                         \
          --exclude-throw-branches                      \
          --gcov-ignore-parse-errors=negative_hits.warn \
          --exclude tests/                              \
          --xml coverage.xml                            \
          --gcov-executable "${{ startsWith(matrix.cxx, 'gcc') && 'gcov' || 'llvm-cov gcov' }}" \
          --root ../build .

      - name: Compute safe coverage file name
        shell: bash
        if: ${{ matrix.build_type == 'Debug' }}
        run: |
          SAFE="${{ matrix.cxx }}"
          SAFE="${SAFE//[:\/]/_}"
          echo "SAFE_CXX=$SAFE" >> "$GITHUB_ENV"

      - name: Upload coverage artifact
        if: ${{ matrix.build_type == 'Debug' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.SAFE_CXX }}-coverage
          path: coverage.xml
          retention-days: 1




  build-documentation:
    name: "Build Doxygen documentation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Install packages"
        run: |
          sudo apt update
          sudo apt install make graphviz wget
      - name: "Install Doxygen 1.14.0"
        run: |
          wget https://www.doxygen.nl/files/doxygen-1.14.0.linux.bin.tar.gz
          tar -xzf doxygen-1.14.0.linux.bin.tar.gz
          sudo mv doxygen-1.14.0/bin/doxygen /usr/local/bin/doxygen
          doxygen --version
      - name: "Run Doxygen"
        working-directory: doxygen
        run: make

  upload-to-codecov:
    name: "Codecov report upload"
    needs: [ "unit-tests" , "codespell-check" , "format-check" ]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: "Download artifacts"
        uses: actions/download-artifact@v4
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}